---
import { storyblokEditable } from '@storyblok/astro';
import StoryblokComponent from '@storyblok/astro/StoryblokComponent.astro';


const { blok } = Astro.props;
// console.log(blok);

---

<div {...storyblokEditable(blok)} >
  <div class="text-center text-red-700 ">{blok.text}</div>

    <div class="container mx-auto grid md:grid-cols-3 gap-12 my-12 place-items-center">
      {blok.columns?.map((columnBlok) => {
        return (
          <div class="p-4">
          
            {/* You can also render other content in each column */}
            <StoryblokComponent blok={columnBlok} />
          </div>
        );
      })}
    </div>
</div>
